@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --main-color: #08c4f8;
}

body{
    animation: 1s ease 0s 1 transition-page;
}


#paraExplication{
    margin-left: 100px;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    z-index: 1;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 75px;
    height: 37px;
    background: #08c4f8;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 25px;
    z-index: 1;
    margin-left: 100px;
}
  
label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 7px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 90px;
    transition: 0.2s;
    z-index: 1;
}
  
input:checked + label {
    background: #D864BC;
    z-index: 1;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    z-index: 1;
}
  
label:active:after {
    width: 15px;
    z-index: 1;
}

.logoBerclet{
    width: 80%;
    margin-left: 150px;
    z-index: 2;
}
#leftbox {
    float:left; 
    /* background:Red; */
    width:33%;
    height:auto;
    z-index: 2;
    
}
#middlebox{
    float:left;
    /* background:Green; */
    width:33%;
    height:auto;
    z-index: 1;
    text-align: center;
}
#rightbox{
    float:right;
    /* background:blue; */
    width:33%;
    height:auto;
    z-index: 2;
}

h1{
    color:#100C1C;
    font-size: 80px;
    margin-left: 100px;
}

h2{
    color:#100C1C;
}

h3{
    font-size: 25px;
    color:white;
}

#underline{
    text-decoration: underline;
}

#leftbox p{
    font-size: 12px;
    font-weight: 700;
    color: #838383;
    margin-left: 100px;
}

#button-style{
    margin-left: 100px;
}

#button-style p{
    font-size: 12px;
    font-weight: 700;
    color: #838383;
    text-decoration: underline;
}

button {
    color: #eee;
    border:2px solid #DDDDDF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 30px;
}

#btn1{
    background-color: #08C4F8;
    text-align: right;
}

#btn2{
    background-color: #D864BC;
    text-align: left;
}

p{
    font-weight: 400;
    color: white;
}

#visualizer3d{
    position: absolute;
    margin-top: 100px;
    top:0;
    width: 30%;

    
}
.boximg{
    float: inline-end;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 9% 9% 9% 9% 9%;
    align-items: center;  
    position: absolute;
    bottom: 30px;
}
#soutien{
    position: absolute;
    bottom: 110px;
    font-size: 20px !important;
}
.logopart{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#rectangle{
margin-left: -74.5%;
z-index: 1;
margin-top: -55%;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: var(--main-color);
    width: 160px;
    padding: 20px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fader-text .textfader{
    
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.textfader{
    color: var(--main-color);
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 20px;
    background: -webkit-linear-gradient(var(--main-color), #181326);
    background: linear-gradient(to right, #181326, var(--main-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes transition-page {
    0% {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    #leftbox {
        float:left; 
        /* background:Red; */
        width:35%;
        height:280px;
        z-index: 2;
    }
    #middlebox{
        float:left;
        /* background:Green; */
        width:30%;
        height:auto;
        z-index: 1;
    }
    #rightbox{
        float:right;
        /* background:blue; */
        width:35%;
        height:280px;
        z-index: 2;
    }
    
    #marque{
        font-size: 128px;
        font-weight: 900;
        text-transform: uppercase;
        color: #DDDDDF;
    }
    
    h1{
        color:#100C1C;
        font-size: 80px;
        margin-left: 100px;
    }
    
    h2{
        color:#100C1C;
    }
    
    h3{
        font-size: 25px;
        color:white;
    }
    
    #leftbox p{
        font-size: 12px;
        font-weight: 700;
        color: #838383;
        margin-left: 100px;
    }
    
    p{
        font-weight: 400;
        color: white;
    }
    
    .rectangle{
        position: absolute;
        margin: 0 auto;
        bottom: 0;
    }
    #visualizer3d{
        position: absolute;
        margin: 0 auto;
        top:0;
        width: 30%;
        margin-left: -11%;
        margin-top: 100px;
        
    }
    #apropos{
        width: 00px;
    }
    #rectangle{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .btn{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: bold;
        background: var(--main-color);
        width: 160px;
        padding: 20px;
        margin-left: 100px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }
    
    .btn:hover, .btn:focus, .btn:active{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .fader-text .textfader{
        
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    
    .textfader{
        color: var(--main-color);
        font-size: 100px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 20px;
        background: -webkit-linear-gradient(var(--main-color), #181326);
        background: linear-gradient(to right, #181326, var(--main-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    @keyframes transition-page {
        0% {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.1s linear;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
   
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .cd-product-viewer-wrapper .product-viewer {
        width: 800px;
        margin-left: -70px;
        
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
    #paraExplication{
        margin-left: 100px;
        font-size: 16px;
    }
    
    #titredroit{
        margin-top: 50px;
        margin-left: -20px;
    }
    #titredroit{
        margin-top: 50px;
        margin-left: -20px;
        margin-bottom: 20px;
        color: #08C4F8;
    } 
    #textdroit{
        margin-left: -20px;
    }
    #soutien{
        position: absolute;
        bottom: 160px;
        font-size: 20px !important;
        margin-top: 100px !important;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
   
}
/* Extra large devices (Tablette ordi , 993px and up) */
@media only screen and (min-width: 993px) 
{
    .cd-product-viewer-wrapper .product-viewer {
        width: 550px;
        height: 650px;
        margin-left: -80px;
        margin-top: 130px;
        z-index: 1;
        
    }
    .cd-product-viewer-wrapper .product-sprite {
        height: 700px !important;
        z-index: 1;
        margin-left: 0px;
        
       
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 10px;
    }
    #paraExplication{
        margin-top: -20px;
        margin-left: 100px;
        font-size: 14px;
    }
    .top-nav-bar .nav-links ul li {
        color: white;
        margin: 0 -80px;
        margin-right: 100px;
    }
    #titredroit{
        margin-top: 100px;
        margin-bottom: 20px;
        color: #08C4F8;
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  

        margin-top: 100px !important;
    }
    #soutien{
        color: black;
        font-size: 20px !important;
        margin-top: 100px !important;
    }
    body{
        overflow: visible;
    }
}
@media only screen and (min-width: 600px){

    .cd-product-viewer-wrapper .product-viewer {
        width: 410px;
        margin-left: 220px;
        margin-top:580px;
        z-index: 1;
        height: auto;
    }
    .cd-product-viewer-wrapper .product-sprite {
        height: 500px !important; 
        margin-left: 0px; 
        z-index: 1;
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
    #paraExplication{
        margin-top: -20px;
        margin-left: 100px;
        font-size: 16px;
    }
    .top-nav-bar .nav-links ul li {
        color: white;
        margin: 0 -30px;
        margin-right: 100px;
    }
    .cd-product-viewer-wrapper .loaded{
        margin-top: 100px;
    }
    body{
        overflow: hidden;
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  

        margin-top: 100px !important;
    }
    #soutien{
        color: black;
        font-size: 20px !important;
        margin-top: 100px !important;
    }
    #leftbox {
        float:left; 
        /* background:Red; */
        width:100%;
        height:auto;
        z-index: 2;
        
    }
    #middlebox{
        float:left;
        /* background:Green; */
        width:100%;
        height:auto;
        z-index: 1;
        text-align: center;
    }
    #rightbox{
        float:right;
        /* background:blue; */
        width:100%;
        height:auto;
        z-index: 2;
        color: black;
    }
    .top-nav-bar .nav-links ul li {
        color: black;
        margin: 0 -80px;
        margin-right: 100px;
    }
    .top-nav-bar a {
    color: black;
    }
    body{
        background: none;
        overflow: visible;
    }

    .logoBerclet{
        width: 40%;
    }
    h3{
        font-size: 32px;
        margin-left: 100px;
    }
    p{
        font-size: 20px;
        margin-left: 100px !important;
        
        color: black;
    }
    #paraExplication{
        margin-left: 100px !important;
        font-size: 20px;
        margin-right: 100px;
        color: black;
    }
    
    #titredroit{
        margin-top: 350px;
        margin-left: 100px;
        color: #08C4F8;
        margin-bottom: 20px;
    } 
}
@media only screen and (min-width: 1200px) /*PC*/
{
    .cd-product-viewer-wrapper .product-viewer {
        width: 550px;
        margin-left: -40px;
        margin-top: -90px;
        z-index: 1;
        height: 1200px;
    }
    .cd-product-viewer-wrapper .product-sprite {
        height: 1000px !important; 
        margin-left: 0px; 
        z-index: 1;
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  
        margin-bottom: -50px;
        margin-top: 100px !important;
    }
    #soutien{
        color: black;
        font-size: 20px !important;
        margin-bottom: -50px !important;
    }
    body{
        margin-left: -20px;
        overflow: hidden;
        background: linear-gradient(to left, #171323 50%, white 50%);
    }
    h3{
        margin-right: 20px;
        font-size: 22px;
        color: white;
    }
    p{
        margin-right: 20px;
        font-size: 12px;
        color: white;
        
    }
    #textdroit{
        margin-left: 0 !important;
    }
    #paraExplication{
        margin-top: -20px;
        margin-left: 100px;
        font-size: 14px;
        margin-right: 0;
    }
    #leftbox {
        float:left; 
        
        width:33%;
        height:auto;
        z-index: 2;
        
    }
    #middlebox{
        float:left;
       
        width:33%;
        height:auto;
        z-index: 1;
        
    }
    #rightbox{
        float:right;
       
        width:33%;
        height:auto;
        z-index: 2;
        
    }
    #titredroit{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        color: #08C4F8;
    }
    .top-nav-bar a{
        color: white;
    }
    .top-nav-bar .nav-links ul li {
        color: white;
        margin: 0 -80px;
        margin-right: 100px;
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  
        margin-bottom: 0px;
        margin-top: 100px !important;
    }
}

@media only screen and (min-width: 1400px) /*PC*/
{
    #apropos{
        width: 70px;
    }
    #leftbox {
        float:left; 
        /* background:Red; */
        width:33%;
        height:auto;
        z-index: 2;
        
    }
    #middlebox{
        float:left;
        /* background:Green; */
        width:33%;
        height:auto;
        z-index: 1;
        text-align: center;
    }
    #rightbox{
        float:right;
        /* background:blue; */
        width:33%;
        height:auto;
        z-index: 2;
        color: black;
        margin-right: 30px;
    }
    #titredroit{
        margin-bottom: 20px;
        margin-left: 0px;
        color: #08C4F8;
    } 
    .cd-product-viewer-wrapper .product-viewer {
        width: 600px;
        margin-left: -50px;
        margin-top: -50px;
        z-index: 1;
        height: auto;
    }
    .cd-product-viewer-wrapper .product-sprite {
        height: 900px !important; 
        margin-left: 0px; 
        z-index: 1;
    }
    h3{
        font-size: 24px;
        color: white;
    }
    p{
        font-size: 15px;
        color: white;
        margin-right: 100px;
    }
    #paraExplication{
        margin-top: -60px;
        margin-left: 100px;
        font-size: 16px;
        
    }
    #visualizer3d{
        position: absolute;
        margin-top: 50px;
        top:0;
        width: 30%;
    }
    .top-nav-bar a{
        color: white;
        z-index: 2;
    }
    .top-nav-bar .nav-links ul li {
        color: white;
        margin: 0 -30px;
        margin-right: 65px;
        z-index: 2;
    }
    .cd-product-viewer-wrapper .loaded{
        margin-top: 100px;
        z-index: 1;
    }
    body{
        overflow: hidden;
        background: linear-gradient(to left, #171323 50%, white 50%);
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  
        margin-bottom: -20px;
        margin-top: 100px !important;
    }
    #soutien{
        color: black;
        font-size: 20px !important;
        margin-bottom: -80px !important;
    }
}
@media only screen and (min-width: 1600px) /*PC*/
{
    #leftbox {
        float:left; 
        /* background:Red; */
        width:33%;
        height:auto;
        z-index: 2;
        
    }
    #middlebox{
        float:left;
        /* background:Green; */
        width:33%;
        height:auto;
        z-index: 1;
        text-align: center;
    }
    #rightbox{
        float:right;
        /* background:blue; */
        width:33%;
        height:auto;
        z-index: 2;
        color: black;
        margin-right: 0px;
    }
    #titredroit{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        color: #08C4F8;
    } 
    .cd-product-viewer-wrapper .product-viewer {
        width: 800px;
        margin-left: -50px;
        margin-top: 0px;
        z-index: 1;
        height: auto;
    }
    #visualizer3d{
        position: absolute;
        margin-top: 120px;
        top:0;
        width: 30%;
        z-index: 1;
    }
    .cd-product-viewer-wrapper .product-sprite {
        height: 1000px !important; 
        margin-left: 0px; 
        z-index: 1;
    }
    h3{
        font-size: 24px;
        color: white;
    }
    p{
        font-size: 16px;
        color: white;
        margin-right: 100px;
    }
    #paraExplication{
        margin-top: -20px;
        margin-left: 100px;
        font-size: 16px;
        
    }
    .top-nav-bar a{
        color: white;
    }
    .top-nav-bar .nav-links ul li {
        color: white;
        margin: 0 -30px;
        margin-right: 75px;
    }
    .cd-product-viewer-wrapper .loaded{
        margin-top: 100px;
    }
    body{
        overflow: hidden;
        background: linear-gradient(to left, #171323 50%, white 50%);
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  
        margin-bottom: 0px;
        margin-top: 100px !important;
    }
    #soutien{
        color: black;
        font-size: 20px !important;
        margin-bottom: -50px !important;
    }
}
/*tres grand ecran*/
@media only screen and (min-width: 1921px){
    .cd-product-viewer-wrapper .product-viewer {
        width: 900px;
        margin-left: -10px;
        margin-top: 200px;
    }
    .cd-product-viewer-wrapper .product-sprite {
        height: 1100px !important; 
        margin-left: 0px; 
    }
    h3{
        font-size: 32px;
    }
    p{
        font-size: 20px;
    }
    #paraExplication{
        margin-left: 100px;
        font-size: 20px;
    }
    
    #titredroit{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        color: #08C4F8;
    }
    .boximg{
        float: inline-end;
        padding-left: 100px;
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9%;
        align-items: center;  
        margin-bottom: 0px;
        margin-top: 100px !important;
    }
    #soutien{
        color: black;
        font-size: 20px !important;
        margin-top: 100px !important;
    }
}




